.notes-list {
width: 1152px;
height: 456px;
margin: 0px 64px;
padding: 0px;
display: flex;
flex-wrap: wrap;
gap: 24px;
}

 .div-list {
border-radius: 10px;
width: 368px;
height: 216px;
box-shadow: 0 4px 8px 0 rgba(11, 12, 13, 0.08), 0 8px 16px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
list-style: none;
}

.div-title {
height: 48;
width: 368px;
border-radius: 10px 10px 0 0;
padding: 12px;
display: flex;
justify-content: space-between;
}

.title-note {
margin: 0px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #292515;
}

.div-content {
    padding: 0px 12px;
    white-space: normal;
    word-wrap: break-word;
}

.div-logo {
    padding-top: 5px;
}

.favorite-icon {
    padding-right: 7px;
    cursor: pointer;
}

.delete-icon {
    cursor: pointer;
}

/* .messages-box {
    display: flex;
    justify-content: right;
    border: 1px solid black;
    height: 48;
    width: 368px;
    border-radius: 10px;
    background-color: blue;
} */