@media screen and  (max-width: 375px) {
    html, body {
        overflow-x: hidden;
    }

    #app {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #dcdcdc;
        width: 100%;
    }

    header {
        display: flex; 
        justify-content: space-between;
        height: 40px; 
        padding: 10px; 
      }

    .logo {
        padding: 0px;
      }

    .count-notes {
        display: none;
    }

    .total-notes-logo {
        padding-bottom: 10px;
        padding-left: 190px;
    }

    main {
    display: flex;
    flex-direction: column;
    }

    .note-form {
        padding-top: 5px;
    }

   .title-description {
    display: flex;
    flex-direction: column;
   }

   .input-description {
    width: 300px;
    height: 40px;
   } 

   .input-title {
    width: 300px;
    height: 30px;
   }
}

